
.boxMsg{
    padding-left: 28px;
    margin: 25px 0 45px 0;
}

h1{
    font-size: 24px;
    font-weight: 700;
    color: #293845;
    margin-bottom: 10px;
}

p{
    font-weight: 400;
    font-size: 22px;
    color: #293845;
    margin-bottom: 5px;
}